{% extends "user/userBase.html" %}

{% block title %}

<title>Listado de Novedades</title>

{% endblock %}

{% block main %}

<div class="latestBooks">
    <center><h2 class="adminLinks" style="width: 300px!important;"><a class="btn btn-link" href="{{url_for('novedad_new')}}">Cargar Novedad</a></h2></center>
</div>

{%if novedades%}
<div class="latestBooks adminView">
    <table>
        <tr>
            <th>TITULO</th>
            <th>DESCRIPCIÓN</th>
            <th>FECHA</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
        </tr>
        {% for nov in novedades %}
            <tr>
                <td>{{nov.titulo}}</td>
                <td>{{nov.descripcion}}</td>
                <td style="display: block">{{nov.created_at}}</td>
                <td><a href ="{{ url_for( 'novedad_renderEdit', id = nov.id ) }}">Editar</a></td>
                <td><a href ="{{ url_for('novedad_remove', id = nov.id)}}">Eliminar Novedad</a> </td>  
            </tr>
        {% endfor %}     
    </table>
</div>
{%endif%}
{% endblock %}