{% extends "novedad/novedadBase.html" %}

{% block main %}
    
{% block title %}

<title>Novedades</title>

{% endblock %}

<h1 class="panel-title">Novedades</h1>
<br><br><br>
    <div class="container">
            <div class="row">
                <div class="col-md-20">
                    <div class="panel panel-primary" >
                        <div class="panel-heading">
                            <br><br>
                            <table class="table table-hover" id="dev-table" >
                            <tr>
                                <th>Titulo</th>
                                <th>Descripcion</th>
                            </tr>
                            {% for nov in novedades[i*pag:(i+1)*pag] %}
                                <tr>
                                    <td>{{nov.titulo}}</td>
                                    <td>{{nov.descripcion}}</td>
                                </tr>
                            {% endfor %}     

                            </table>
                                
                            <br><br>
                            
                                
                        </div>
                        
                        <br>
                    </div>
                </div>
            </div>
            </div>
                
            {% if adm %}
            <a class="btn btn-link" href="{{url_for('novedad_list')}}">Ver Listado de Novedades</a>
        {% endif %}
{% endblock %}