{% extends "user/userBase.html" %}

    
{% block title %}

<title>Novedades</title>

{% endblock %}
{% block main %}
{% if adm %}
<div class="latestBooks"><center>
    <h2 class="adminLinks" style="width: 300px!important;"><a class="btn btn-link" href="{{url_for('novedad_list')}}">Ver Listado de Novedades</a></h2>
</center>
</div>
{% endif %}
{%if novedades%}
<div class="latestBooks"><h1>Últimas novedades:</h1>
{% for nov in novedades %}
<div class="newAbout"><p class="newTitle">{{nov.titulo}}</p><span tabindex="0" style="margin-left: 52px;">Ver detalle de novedad</span><div class="viewDetail">
{{nov.descripcion}}
</div><p class="newHour">{{nov.created_at}}</p></div>
{% endfor %}
{%else%}
<div class="latestBooks"><h1>No hay novedades disponibles.</h1>
{%endif%}
</div>
{%endblock%}