{% extends "user/userBase.html" %}


{% block title %}

    <title>Nueva Novedad</title>

{% endblock %}


{% block main %}

<div class="latestBooks metaView">
    <h1>Cargar novedad:</h1>
    <form action="{{ url_for('novedad_create') }}" method="POST">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input required name="titulo" class="form-control" placeholder="Titulo de Novedad" type="text" minlength="10">
        </div> <!-- form-group// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <textarea required name="descripcion" class="form-control" placeholder="descripcion de Novedad" minlength="10"></textarea>  
            <input type="hidden" name="created_at" class="form-control" placeholder="Fecha creacion" type="date" value="{{today}}">                           
        </div> <!-- form-group// -->
                        
        <div class="form-group">
            <center><button type="submit" class="btn btn-light btn-block">Crear Novedad</button><br>
            <a class="nav-link" href="/novedades/list">Cancelar</a></center>
        </div> <!-- form-group// -->
    </form>
    </div>
{% endblock %}
