{% extends "user/userBase.html" %}

{% block title %}

    <title>Libros - Bookflix</title>

{% endblock %}

{% block main %}
<div class="latestBooks" style="text-align: center;!important;width: 570px!important;border: 0px!important;">
    <form class="form-inline" action="{{ url_for('book_menu', type='search_by') }}" method="POST" class="navbar-form navbar-left">
        <div class="form-group">
            <div class="input-field first-wrap">
                <input type="text" required class="form-control" name="nombre" placeholder="Buscar por">
            </div>
            <div class="form-group">
                    <select required name="busqueda" class="form-control">
                        <option value="titulo">Titulo</option>
                        <option value="editorial_id">Editorial</option>
                        <option value="autor_id">Autor</option>
                        <option value="genero_id">Genero</option>
                    </select>
            </div><br>
        </div><button type="submit" class="btn btn-light btn-block" style="width: 504px!important">Buscar</button>
    </form>
</div>    

{%if adm%}
    <div class="latestBooks"><h2 class="adminLinks"><a href="{{url_for('book_meta')}}">Cargar metadatos</a></h2><h2 class="adminLinks"><a href="{{url_for('author_new')}}">Cargar Autor</a></h2><h2 class="adminLinks"><a href="{{url_for('editorial_new')}}">Cargar Editorial</a></h2><h2 class="adminLinks"><a href="{{url_for('genero_new')}}">Cargar Genero</a></h2><h2 class="adminLinks"><a href="{{url_for('trailer_new')}}">Cargar Trailer</a></h2></div>

    <div class="latestBooks adminView">
        <h1>Trailers Cargados:</h1>
        <table>
          <tr>
            <th>ID</th>
            <th>TITULO</th>
            <th>ARCHIVO</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
            <th>VER TRAILER</th>
          </tr>
          {% for trailer in trailers %}
          <tr>
            <td>{{ trailer.id}}</td>
            <td>{{ trailer.titulo}}</td>
            <td>{{ trailer.archivo }}</td>
            <td><a href="/trailers/edit/{{trailer.id}}">Editar Trailer</a></td>
            <td><a href="/trailers/delete/{{trailer.id}}">Eliminar Trailer</a></td>
            <td><a href="/trailers/view/{{trailer.id}}">Ver Trailer</a></td>
                                
        </tr>
        {% endfor %}
        </table>
    </div>

    <div class="latestBooks adminView">
        <h1>Listado de libros:</h1>
        <table>
          <tr>
            <th>ISBN</th>
            <th>TITULO</th>
            <th>AUTOR</th>
            <th>METADATOS</th>
            <th>CARGAR</th>
            <th>ELIMINAR</th>
            <th>DISPONIBILIDAD</th>
          </tr>
          {% for book in books[i*pag:(i+1)*pag] %}
          <tr>
            <td>{{ book.isbn}}</td>
            <td>{{ book.titulo}}</td>
            <td>{{ book.autor_id}}</td>
            <td>
                <a href ="{{ url_for('book_meta_edit', isbn = book.isbn)}}">Editar metadatos</a>
                <a href ="{{ url_for('book_meta_remove', isbn = book.isbn)}}" onclick="return confirm('¿seguro?')">Eliminar Meta y archivos</a>
            </td>
            <td>
                <a class="btn btn-link" href="{{url_for('book_new', isbn = book.isbn)}}">Cargar Libro</a>
                <a class="btn btn-link" href="{{url_for('book_new_chapter', isbn = book.isbn)}}">Cargar Capitulo</a>
                <a class="btn btn-link" href="{{url_for('trailer_book_new', isbn = book.isbn)}}">Cargar trailer</a>
            </td>
            <td><a href="{{url_for('book_delete', isbn = book.isbn)}}">Eliminar libro</a>
                {% if hasChapters[books.index(book)] %}
                    <a class="btn btn-link" href="{{url_for('book_delete_menu', isbn = book.isbn)}}">Eliminar Capitulos</a>
                {% endif %}
                <a class="btn btn-link" href="{{url_for('book_date_menu', isbn = book.isbn)}}">Modificar Disponibilidad</a>
            </td>
            <td>
                <a class="btn btn-link" href="{{url_for('book_view', isbn = book.isbn)}}">Ver libro</a>
                {% if canReadBook[books.index(book)] %}
                    <a class="btn btn-link" href="{{url_for('book_open', isbn = book.isbn)}}">Abrir Libro</a>    
                {% endif %}
                {% if hasChapters[books.index(book)] %}
                    <a class="btn btn-link" href="{{url_for('book_cap_menu', isbn = book.isbn)}}">Abrir Capitulos</a>    
                {% endif %}
                {% if existe[books.index(book)] %}
                <a class="btn btn-link" href="/trailers/viewAsociado/{{book.isbn}}">Ver Trailer</a>
                {% endif %}
            </td>
                                
        </tr>
        {% endfor %}
        </table>
    </div>
    {%endif%}
    <div class="latestBooks" style="text-align: center!important"><h2 class="adminLinks"><a href="{{url_for('book_historial')}}">Ver Historial</a></h2></div>

    <div class="latestBooks">
        <h1>Últimos libros:</h1>
        {% for book in books[i*pag:(i+1)*pag] %}
        <div class="bookBox">
            <div class="bookInfo">
                <a href="{{url_for('book_view', isbn = book.isbn)}}"><h3>{{book.titulo}}</h3></a>
                <p class="bookPlot">{{book.sinopsis}}</p>
                <p class="bookData">{{book.autor_id}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
{% endblock %}