{% extends "user/userBase.html" %}

{% block title %}

    <title>Usuarios - Bookflix</title>

{% endblock %}



{% block main %}
  {% if adm %}
    <div class="latestBooks searchView">
      <form action="{{ url_for('user_resource_indexUser') }}" method="POST" class="navbar-form navbar-left">
        <input type="text" required method="POST" class="form-control" name="username" placeholder="Nombre de usuario">
        <button type="submit">Buscar</button>
      </form>
    </div>
    <div class="latestBooks adminView"><a href="{{ url_for('user_resource_new') }}" class="optionUser" id="newUserId">Nuevo usuario</a></div>  

      <div class="latestBooks adminView">
        <h1>Usuarios:</h1>
        <a href="/usuarios" class="optionUser">Todos</a><a href="{{ url_for('user_resource_indexActive') }}" class="optionUser">Activos</a><a href="{{ url_for('user_resource_indexInactive') }}"class="optionUser">Inactivos</a>
        <table>
        <tr>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>FECHA</th>
          <th>EDITAR</th>
          <th>USUARIO</th>
          <th></th>
        </tr>
        {% if permit %}
          {% for usuario in usuarios[i*pag:(i+1)*pag] %}
          <tr>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.updated_at}}</td>
            <td><a href="{{ url_for('user_resource_edit', id = usuario.id)}}">Editar</a></td>
            <td><a href ="{{ url_for('user_resource_show', id = usuario.id)}}">Mostrar</a></td>
            {% if usuario.activo %}
              <td><a href="{{ url_for('user_resource_delete', id = usuario.id)}}">Deshabilitar</a></td>
            {% else %}
              <td><a href="{{ url_for('user_resource_active', id = usuario.id)}}">Habilitar</a></td>
            {% endif %}
            
          </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>



<div class="paginationBookflix">
  {% if url == '/usuarios/index_by_active'%}
    <a href="{{ url_for('user_resource_indexActive', i=i-1 )}}">Previous</a>
    <a href="{{ url_for('user_resource_indexActive', i=i+1 )}}">Next</a></li>
  {% else %}
    {% if url == '/usuarios/index_by_inactive'%}
      <a href="{{ url_for('user_resource_indexActive', i=i+1 )}}">Previous</a>
      <a href="{{ url_for('user_resource_indexInactive', i=i+1 )}}">Next</a></li>
    {% endif %}
  {% endif %}
</div>
  {% endif %}
{% endblock %}