{% extends "user/userBase.html" %}

{% block title %}

    <title>Usuarios - Bookflix</title>

{% endblock %}

{% block main %}

<div class="latestBooks loginView">
        <h1><i class="fa fa-address-card" aria-hidden="true"></i> Perfil de {{usuario.last_name}}, {{usuario.first_name}}:</h1>
        <div class="registro_content loginView">
                    <table>
                        <tr>
                          <th>USERNAME:</th><td>{{usuario.username}}</td>
                        </tr>
                        <tr>
                          <th>EMAIL:</th><td>{{usuario.email}}</td>
                        </tr>
                        <tr>
                            <th>SUSCRIPCION:</th><td>{{usuario.subscription}}</td>
                        </tr>
                    </table>
        </div>
            </div>
             <div class="latestBooks loginView">
                <h1><i class="fa fa-cogs" aria-hidden="true"></i> Opciones de usuario:</h1>
                <div class="registro_content loginView">
                    <a href="{{url_for('user_resource_edit', id=usuario.id)}}" class="editUserData">Editar información de usuario</a><br><br>
                </div>
            </div>


{% endblock %}
<!--
<div class="container my-4">

        <p class="font-weight-bold">An example of bootstrap notification dropdown . Easy to implement and customize. Examples of basic and advanced usage.</p>
    
        <p>
          <strong>Detailed documentation and more examples you can find in our 
          <a href="https://mdbootstrap.com/docs/jquery/components/dropdowns/" target="_blank">Bootstrap Dropdown Docs</a>
          </strong> 
        </p>
    
            <hr>
    
        <p class="font-weight-bold">Basic example</p>
        
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark blue lighten-1">
          <a class="navbar-brand" href="#">Notifications</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-5" aria-controls="navbarSupportedContent-5" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent-5">
           
            <ul class="navbar-nav ml-auto nav-flex-icons">
              <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="badge badge-danger ml-2">4</span>
                  <i class="fas fa-bell"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                  <a class="dropdown-item waves-effect waves-light" href="#">Action <span class="badge badge-danger ml-2">4</span></a>
                  <a class="dropdown-item waves-effect waves-light" href="#">Another action <span class="badge badge-danger ml-2">1</span></a>
                  <a class="dropdown-item waves-effect waves-light" href="#">Something else here <span class="badge badge-danger ml-2">4</span></a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    
      </div>

      -->